@font-face {
  font-family: "Viga";
  src:
    url("/Viga-Regular.ttf");
}

:root {
  font-family: Viga, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}

#top {
  height: 35px;
  mask-image: url('/top_mask.svg');
  mask-mode: luminance;
  mask-position: center;
  background-color: #212121;
  width: 450px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  filter: drop-shadow(0 16px 0 #FFF);
}

#root {
  overflow: hidden;
  background-color: #212121;
  width: 450px;
  height: 600px;
}

body {
  margin: 0;
  overflow: hidden;
}

div::-webkit-scrollbar {
  width: 4px;
  background-color: #424242;
  border-radius: 0.25rem;
}

div::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.25rem;
}
